#login-menu{
     
             position: fixed;
             right: 0px;
            top: 10%;
             z-index=100 ;
		width:15% ;
}

#patti
{
	

}
#green
		{
			z-index: 0;
			position:fixed;
			height: 15vh;
			width:100vw;
			top:0px;
			left: 0px;
			right: 0px;
			background-color: #0266C8 ;
		}
		#logo
		{
			position:absolute;
			left:1vw;
			top:0.5vh;
			height: 14vh;
		}
		}
#sinpu
{
	position: fixed;
	top:0%;

}
#homelink
{
	position:fixed;
	color:#3b59ff;
	margin-left: 13vw;
	font-size: 2vw;
	top: 5vh;
}
#searchinput
{
	position: fixed;
	top:4%;
	left:30%;
	font-size: 100%;
}

#login1
{
	position: fixed;
	top:4%;
	font-size: 75%;
	left:88%;
	color: #ffffff;
	background-color: #3b5998;
	border-color: #3b5998;
}

.ico-mglass {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 60px;
  height: 12px;
  width: 12px;
  border: 4px solid #888;
}
.ico-mglass:after {
  content: "";
  height: 4px;
  width: 12px;
  background: #888;
  position: absolute;
  top: 14px;
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#magnify
{
	position: fixed;
	top:5%;
	left:60%;
	font-size: 2vw;
}
#searchbutton
{
	position: fixed;
	top:4%;
	left:59%;
	width:4%;
	height:7%;
	font-size: 100%;

}


.gsc-tabHeader gsc-inline-block gsc-tabhActive{
			overflow-y:none ;	
			overflow-x:none ;	
	
		}
		
		.gsc-tabHeader gsc-inline-block gsc-tabhInactive{
			overflow-y:none	;	
				overflow-x:none ;
		}
		.gsc-orderby-label gsc-inline-block{
		 z-index: -100 ;
		}
		.gsc-selected-option {
		 z-index: -100 ;
		}
		.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
			width:100% ;		
			padding:0px ;

}

.error {color: #FF0000;}
#body
{ background-color: black ; 
  
  font-size: 150%;
}
.inpu
{
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
#sub
{
  background-color: #3b5998;
  color: #ffffff;
}

#signup
		{   display: none ;
			position: fixed;
			top:4%;
			font-size: 75%;
			left:80%;
			color: #ffffff;
			background-color: #3b5998;
			border-color: #3b5998;
		}
		#login
		{
			position: fixed;
			top:4%;
			font-size: 75%;
			left:88%;
			color: #ffffff;
			background-color: #3b5998;
			border-color: #3b5998;
		}

table {
	width:9vw;
	
}
		
.table td { 
	 border-top: none !important; 
 } 
 
 
 
 
 